*{
    max-width: 414px;
    height: auto;
}
.container {
    max-width: 414px;
    margin: 0 auto;
    justify-content: center;}

.container .bunga {
    justify-content: center;
    align-items: center;
    padding-top: 225px;
    padding-left: 75px;
    justify-self: center;
}

.container .bunga a{
    justify-content: center;
    align-items: center;
}